CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="SPL,SYS_USE_SPINOR,SYS_BOOT_NAND,SPL_DMA_SUPPORT,SPL_SPI_FLASH_SUPPORT,SPL_SPI_SUPPORT,SPL_SPI_LOAD,DEFAULT_FDT_FILE=\"bctre3.dtb\",DDR_MB=1024,IMX_CONFIG=board/bct/re3/re3.cfg,MX6Q"
CONFIG_TARGET_RE3=y
CONFIG_ARM=y
CONFIG_DM=y
CONFIG_DM_THERMAL=y
